
<!DOCTYPE html>
<html lang="en">
<head>
    {%  load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <title>HOME</title>
</head>
<body   >


<nav class="navbar navbar-dark bg-dark">
  
    <img style="background-color: white;" width="140px" height="150px" src="https://upload.wikimedia.org/wikipedia/commons/4/45/Rait_new_logo_png.png" class="img-fluid" alt="Responsive image"> 
         <a style="text-align: left;" href="#" class="navbar-brand">LIBRARY MANAGEMENT SYSTEM</a>
         

         <ul  class="nav nav-pills">
          <li class="nav-item"><a class="nav-link active"  href="/register">REGISTER</a></li>
          <li class="nav-item"> <a class="nav-link active"  href="/login">LOGIN</a></li>
          <li class="nav-item"><a  class="nav-link active"  href="http://127.0.0.1:8000/admin/login/?next=/admin/">LIBRARIAN</a></li>
            <li class="nav-item"> <a class="nav-link active"  href="http://127.0.0.1:8000/forum/About/">ABOUT US</a></li>

              


        
      </ul>
</nav>
<br>
<center><img style="border-radius: 1cm;" width="50%" height="700px" src="https://images.pexels.com/photos/1290141/pexels-photo-1290141.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="img-fluid" alt="Responsive image"> </center>
<footer class="page-footer font-small blue">

  
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://www.linkedin.com/in/shrikant-padhy-9b937317b/"><i class="fa-fa likedin"></i> &copy Developer :Shrikant Padhy</a>
  </div>
  <!-- Copyright -->

</footer>
</body>
</html>
