<!DOCTYPE html>
<html lang="en">
<head>
	 {%  load static %}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="{% static 'tinymce/css/prism.css' %}" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

   
    <meta charset="UTF-8">
    <title>About us</title>
</head>
<body style="background-image:url('https://psmag.com/.image/t_share/MTQ5NjM2MTg5NzU2ODYwMjE4/library.jpg');">
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary rounded" >
  <div class="container-fluid" >
    <div class="navbar-header" >
      <a class="navbar-brand"  href=" ">ABOUT US</a>
    </div>
  </div>
</nav>
<div style="color: black;font-weight: bold">
<div class='container' >
    <div class='col-sm-6'>
        <div class='panel panel-default' style="width:760px;background-color:pink;">
            <div class='panel-heading' style="background-color: orange;"><p style="font-style: italic;font-weight: bold;font-size: 30px ">ABOUT US</p></div>
            <div class='panel-body'>

    <p>
This project is created By Ram Moorthy,Shrikant padhy and Vicky mishra.
</p>

<p>
The intention behind this project was to eliminate the card system and enable the process with efficient,reliable and record maintenance by using  centralized database,thereby reducing the probability of data loss by introducing online library system.
</p>

<p>
This System tends to remove the concept of waiting in queue  as well as filling the card in order to issue  books.
    </p>

    </div>
</div>
</div>
</div>


</body>
</html>