<!DOCTYPE html>
<html lang="en">
<head>
     {%  load static %}
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <link href="{% static 'tinymce/css/prism.css' %}" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <meta charset="UTF-8">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
<!--Bootstrap CSS Reference-->
    <link href="css/bootstrap.css" rel="stylesheet" />
 
<!--Website Style Sheet Reference-->
    <link href="css/style.css" rel="stylesheet" />


 <title>REGISTER</title>
</head>
<body style="background-color: antiquewhite;background-image: url('https://cdn-images-1.medium.com/max/1600/0*Ugp4QQOB6XvJwi-L');background-color: aliceblue">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>






<nav class="navbar navbar-expand-lg navbar-dark bg-primary rounded" >
  <div class="container-fluid" >
    <div class="navbar-header" >
      <a class="navbar-brand"  href=" ">LIBRARY MANAGEMENT SYSTEM</a>
    </div>
   <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="waves-effect waves-light btn" href="/">HOME</a></li>
        <li><a class="waves-effect waves-light btn"  href="/login">LOGIN</a></li>
    </ul>
  </div>
</nav>


<div class='container-fluid' style="position: relative;left: 215px" >
    <div class='col-sm-6'>
        <div class='panel panel-default' style="width:560px;height:875px">
           <div class='panel-heading' style="background-color: orange;font-weight: bold;font-size: 20px;font-family: Algerian;"> <img src="https://www.brandcrowd.com/gallery/brands/pictures/picture15324042121473.jpg" alt="Avatar" class="rectangle responsive-img" style="height: 80px;position:relative;left:0.2px"><b style="position: relative;left: 10px">CREATE YOUR ACCOUNT</b></div>
            <div class='panel-body'>
<form method="POST">{% csrf_token %}use your ROLLNO as your USERNAME
    {{ form.as_p }}
    
    <p style="text-align: center"><button type="submit" style="background-color:lightgreen;color:black">REGISTER</button></p>

</form>
</div>
</div>
</div>



</body>
</html>
